---
import GameActive from '$components/game/GameActive.svelte'
import SetupScreen from '$components/game/SetupScreen.svelte'
import Layout from '$layouts/Layout.astro'
import { handleGameSSR } from '$lib/server/gameHandler'
import '$styles/global.css'

const {
  wordsPromise,
  setupErrorMsg,
  redirectRoute,
  secureToken,
  modelId,
  preferredModelId,
  stats,
  savedGame
} = await handleGameSSR(Astro.request, Astro.session)

console.log(
  `--- INDEX RENDER: Method=${Astro.request.method}, hasSavedGame=${!!savedGame}, hasWordsPromise=${!!wordsPromise} ---`
)
if (savedGame) {
  console.log(`--- INDEX RENDER: Restoring game with ${savedGame.currentIndex} index ---`)
}

if (redirectRoute) {
  return Astro.redirect(redirectRoute)
}
---

<Layout>
  <main
    class="flex min-h-screen w-full flex-col items-center justify-center overflow-x-hidden p-4 sm:p-8">
    {
      wordsPromise ? (
        wordsPromise
          .then((words) => (
            <GameActive
              client:load
              secureToken={secureToken}
              initialWords={words}
              modelId={modelId}
              stats={stats}
            />
          ))
          .catch((err) => (
            <SetupScreen
              client:load
              secureToken={secureToken}
              errorMsg={err.message}
              preferredModelId={preferredModelId}
              stats={stats}
            />
          ))
      ) : savedGame ? (
        <GameActive
          client:load
          secureToken={secureToken}
          initialWords={savedGame.words}
          modelId={savedGame.modelId}
          savedCurrentIndex={savedGame.currentIndex}
          stats={stats}
        />
      ) : (
        <SetupScreen
          client:load
          secureToken={secureToken}
          errorMsg={setupErrorMsg}
          preferredModelId={preferredModelId}
          stats={stats}
        />
      )
    }
  </main>
</Layout>
